.display1 {
    -fx-background-image: url('images/1pantalla1_fin.png');
    -fx-background-radius: 15px;
    -fx-background-size: cover;
 }

.display1Button:hover {
    -fx-text-fill: white;
    -fx-opacity: 0.5;
}

.display2 {
     -fx-background-image: url('images/2pantalla2_fin.png');
     -fx-background-size: cover;
 }

.display2Button:hover {
    -fx-text-fill: #000000;
    -fx-opacity: 0.5;
}

.display3 {
    -fx-background-image: url('images/3pantalla_jugadores_fin.png');
    -fx-background-size: cover;
 }

.dynamic-label {
    -fx-font-size: 25px;
    -fx-font-family: "Britannic Bold";
    -fx-text-fill: black;
 }

.dynamic-button {
    -fx-background-color: #ce9d0a;
    -fx-background-radius:50px;
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 36px;
    -fx-cursor: hand;


 }

.dynamic-button:hover{
    -fx-text-fill: black;
    -fx-opacity: 0.5;

 }

.dynamic-textField {
     -fx-padding: 5px;
     -fx-font-family: "Britannic Bold";
     -fx-font-size: 20px;
     -fx-width: 40px;
     -fx-background-radius: 15px;
     -fx-alignment: center;

}

.dynamic-button-players{
    -fx-font-size: 25px;
    -fx-font-family: "Britannic Bold";
    -fx-text-fill: #ce9d0a;
    -fx-cursor: hand;



}

.dynamic-labelTitle-players {
     -fx-font-size: 36px;
     -fx-font-family: "Britannic Bold";
     -fx-text-fill: #ce9d0a;
}


.dynamic-label-players {
        -background-radius: 15px;
       -background-color: white;
       -fx-font-size: 25px;
       -fx-font-family: "Britannic Bold";

}

.display4 {
     -fx-background-image: url('images/4pantalla_carrera_fin.png');
     -fx-background-size: cover;
 }

 .display5 {
    -fx-background-image: url('images/5pantalla_ganador_fin.png');
    -fx-background-size: cover;

 }


